---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
    
    <!-- Can optionally include here
    id="feature1" if there are multiple 
    feature rows. Also type="left" or "center" or "right" -->
    {% include feature_row %}
    
    <!--<h3>Test Header</h3> -->

    <!-- Note that type of header here does not matter as the properties are specified in the CSS -->
    <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

    <div class="grid__wrapper">
      {% for post in paginator.posts limit:3 %}
        <!-- You can pass in additional parameters which gets read by liquid -->
        {% include archive-single.html type="grid" %}
      {% endfor %}
    </div>

    {% include paginator.html %}
</div>
