---
layout: blank
---
    <div id="modal modal-content" class="modal-content modal-content--show">
        <h2 class="project__title">{{ page.title }}</h2>
        
        <div class="project__content">
            <div class="project__description">
              {{ page.description | markdownify | remove: "<p>" | remove: "</p>" }}
            </div>
            <div class="project__meta">
                <span>Date: 
                    <span>{{ page.meta.date }}</span>
                </span>
                <br>
                <span>Platform: 
                    <span>{{ page.meta.platforms }}</span>
                </span>
                <br>
                {% if page.meta.website %}
                    <span>
                        <a href="{{ page.meta.website }}" target="_blank">Website</a>
                    </span>
                    <br>
                {% endif %}
                {% if page.meta.source_code %}
                    <span>
                        <a href="{{ page.meta.source_code }}" target="_blank"><i class="fas fa-code-branch"></i>
                        <span>{{ page.meta.source_code_type }}</span>
                        </a>
                    </span>
                    <br>
                {% endif %}
                {% if page.meta.download %}
                    <span>Download: 
                        <span>{{ page.meta.download | markdownify | remove: "<p>" | remove: "</p>" }} </span>
                    </span>
                    <br>
                {% endif %}
            </div>
        </div>
        
        <div class="modal-center-wrapper">
            {% if page.video %}
                    {% include video id=page.video.id provider=page.video.provider %}
            {% endif %}
            
            {% if page.carousel %}
                {% assign carousel_height = page.carousel.height %}
                {% assign carousel_width = page.carousel.width %}
                <div class="modal-center">
                    {% include carousel.html width=carousel_width height=carousel_height unit="px" duration="7" %}
                </div>
            {% endif %}
                
        {% for image in page.images %}
            <div class="modal-center">
                {% assign img_alt = image.alt %}
                {% assign img_path = image.path | relative_url %}
                <img src="{{ img_path }}" alt="{{ img_alt }}"> 
            </div>
        {% endfor %}   
        </div>
    </div>